<div style="text-align:center; margin:10px;font-size: 25px; ">
    Finite
</div>
<ui-carousel [infinite]="false" [fade]="false" [speed]="200" height="300px" width="700px" >
    <ui-carousel-item>
        <div style="background:#2980b9" class="text">1</div>
    </ui-carousel-item>
    <ui-carousel-item>
        <div style="background:#2ecc71" class="text" >2</div>
    </ui-carousel-item>
    <ui-carousel-item>
            <div style="background:#e74c3c" class="text" >3</div>
    </ui-carousel-item>
    <ui-carousel-item>
        <div style="background:#f1c40f" class="text">4</div>
    </ui-carousel-item>
    <ui-carousel-item>
        <div style="background:#16a085" class="text">5</div>
    </ui-carousel-item>
    <div class="button">Code source</div>
</ui-carousel>