<div class="header">
    <div class="logo">
        UI Carousel
    </div>

    <div>
        <a href="#" class="github-icon">
            <span>Github</span>
            <img src="./assets/github.png" alt="">
        </a>
    </div>
</div>

<infinite-carousel></infinite-carousel>
<br>
<br>
<br>
<finite-carousel></finite-carousel>
<br>
<br>
<br>
<fade-carousel></fade-carousel>
<br>
<br>
<br>
<custom-dots></custom-dots>
<br>
<br>
<br>
<custom-arrows></custom-arrows>
<br>
<br>
<br>
<lazyloading></lazyloading>
<br>
<br>
<br>

<!-- <div class="wr">
    <ui-carousel [infinite]="false" [fade]="false" [speed]="200" >
        <ui-carousel-item color="red">
            <img id="img" [ui-lazy-load]="'./assets/1.jpg'" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item color="blue">
            <img ui-lazy-load="/assets/2.jpg" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item color="green">
            <img ui-lazy-load="/assets/3.jpg" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item color="orange">
        </ui-carousel-item>
         <ui-carousel-item color="brown">
            <img src="./assets/4.jpg" alt="" draggable="false">
            <div class="text">5</div>
        </ui-carousel-item> 
    </ui-carousel>
</div> -->