<div style="text-align:center; margin:10px;font-size: 25px; ">
    Fade
</div>

<div class="wrapper">
    <ui-carousel [infinite]="true" [fade]="true" [speed]="500" height="300px" width="700px">
        <ui-carousel-item>
            <img src="./assets/1.jpg" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item>
            <img src="./assets/2.jpg" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item>
            <img src="./assets/3.jpg" alt="" draggable="false">
        </ui-carousel-item>
    </ui-carousel>
    <div class="button">Code source</div>
</div>