:host{
    display: block;
    width: 100%;
}

.wrapper{
    height: 300px;
    width: 700px;
    position: relative;
    margin: 0 auto;
}

ui-carousel{
    display: block;
    position: relative;
}
.text{
    text-align:  center;
    line-height: 300px;
    font-size: 40px;
    color: #fff;
}

.button{
    user-select: none;
    height: 35px;
    width: 120px;
    line-height: 35px;
    color: gray;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 5000;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

img{
    width: 100%;
}