<div style="text-align:center; margin:10px;font-size: 25px; ">
    Lazy Loading
</div>
<div style="max-width: 768px; margin: auto; position: relative;">
    <ui-carousel [infinite]="false" [speed]="200">
        <ui-carousel-item>
            <img ui-lazy-load="./assets/5.jpg" class="responsive-img" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item>
            <img ui-lazy-load="./assets/4.jpg" class="responsive-img" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item>
            <img ui-lazy-load="./assets/6.jpg" class="responsive-img" alt="" draggable="false">
        </ui-carousel-item>
    </ui-carousel>
</div>