:host{
    display: block;
    width: 100%;
}

ui-carousel{
    display: block;
    margin: 0 auto;
}
.text{
    text-align:  center;
    line-height: 300px;
    font-size: 40px;
    color: #fff;
}

.button{
    user-select: none;
    height: 35px;
    width: 120px;
    line-height: 35px;
    color: gray;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 5;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.left-arrow,.right-arrow{
    height: 35px;
    width: 30px;
    background: rgb(245, 245, 245);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 50;
    box-shadow: 0px 0px 2px rgba(0,0,0,.4);
}

.left-arrow{
    left: 0;
    border-radius: 0 3px 3px 0;
}

.right-arrow{
    right: 0;  
    border-radius: 3px 0 0 3px;
}

.left-arrow:hover,.right-arrow:hover{
    cursor: pointer;
    background: rgb(225, 225, 225);
}

.left-arrow img,.right-arrow img{
    height: 25px;
    margin-top: 5px;
    width: auto;
    opacity: .7;
}

.left-arrow img{
    margin-left: 5px;
}

.right-arrow img{
    margin-left: 10px;
}

img{
    width: 100%;
}