<div style="text-align:center; margin:10px;font-size: 25px; ">
    Custom arrows
</div>
<div style="max-width: 768px; margin: auto;">
    <ui-carousel #uiCarousel [infinite]="true" [speed]="200" [arrows]="false">
        <ui-carousel-item>
            <img src="./assets/2.jpg" class="responsive-img" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item>
            <img src="./assets/1.jpg" class="responsive-img" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item>
            <img src="./assets/3.jpg" class="responsive-img" alt="" draggable="false">
        </ui-carousel-item>
    </ui-carousel>
    <div class="left-arrow" (click)="uiCarousel.prev()">
        <img src="assets/arrow-left.png" alt="">
    </div>
    <div class="right-arrow" (click)="uiCarousel.next()">
        <img src="assets/arrow-right.png" alt="">
    </div>
</div>