:host {
    display: block;
    width: 100%;
}

ui-carousel {
    display: block;
    margin: 0 auto;
}

.text {
    text-align: center;
    line-height: 300px;
    font-size: 40px;
    color: #fff;
}

.dots {
    height: 4px;
    margin: auto;
    bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 0 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dot {
    height: 100%;
    width: 200px;
    background: rgba(256, 256, 256, 0.6);
    padding: 0 3px;
    border-radius: 1px;
}

.dot:hover {
    background: rgba(256, 256, 256, 0.8);
    cursor: pointer;
}

.dot.active {
    background: rgba(256, 256, 256, 0.8);
}

.responsive-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}